<body>
    <div class="MacbookPro141">
        <!-- Header -->
        <header class="header">
            <div class="Rectangle4"></div>
            
            <nav class="navbar">
                <img class="SensureLogoBloc1" src="assets/logo.png" alt="logo"alt="Placeholder Image">
                <ul>
                    <li class="Accueil" routerLink="acceuil" >ACCUEIL</li>
                    <li class="NosServices"routerLink="NosService">NOS SERVICES</li>
                    <li class="LAgence">L’AGENCE</li>
                    <li class="ContactezNous">CONTACTEZ-NOUS</li>
                    <li class="Portfolio">PORTFOLIO</li>
                </ul>
            </nav>
        </header>

<router-outlet></router-outlet>
</div>
</body>

