<body>
    <div class="MacbookPro141">
        <main class="main-content">
            <div class="rect">
                <img src="assets/image1.jpg" alt="Image 1" style="width: 100%; height: auto;">
            </div>
            <div class="text-reveal-container">
                <div *ngFor="let text of texts; let i = index" class="text" [class.active]="i === currentTextIndex" [class.exit]="i === (currentTextIndex - 1 + texts.length) % texts.length">{{ text }}</div>
            </div>         
        </main>

<router-outlet></router-outlet>
</div>
</body>