<body>
    <div class="carre">
        <div>
            <img src="image1.jpg" alt="Image 1" />
            <p>Texte 1</p>
        </div>
        <div class="branding">
            <p class="title"><strong>BRANDING</strong><br><strong>& DESIGN</strong></p>
            <p class="description">Créer une identité visuelle unique et impactante avec nos services de branding et 
                designe.De la creation de logo à la charte graphique , nous construisons une image de marque forte.
                 </p>
        </div>
        <div>
            <img src="image3.jpg" alt="Image 3" />
            <p class="title"><strong>BRANDING</strong><br><strong>& DESIGN</strong></p>
            <p class="description">Créer une identité visuelle unique et impactante avec nos services de branding et 
                designe.De la creation de logo à la charte graphique , nous construisons une image de marque forte.
                 </p>
        </div>
        <div>
            <img src="image4.jpg" alt="Image 4" />
            <p>Texte 4</p>
        </div>
        <div>
            <img src="image5.jpg" alt="Image 5" />
            <p>Texte 5</p>
        </div>
        <div>
            <img src="image6.jpg" alt="Image 6" />
            <p class="title"><strong>BRANDING</strong><br><strong>& DESIGN</strong></p>
            <p class="description">Créer une identité visuelle unique et impactante avec nos services de branding et 
                designe.De la creation de logo à la charte graphique , nous construisons une image de marque forte.
                 </p>
        </div>
        <div>
            <img src="image7.jpg" alt="Image 7" />
            <p class="title"><strong>BRANDING</strong><br><strong>& DESIGN</strong></p>
            <p class="description">Créer une identité visuelle unique et impactante avec nos services de branding et 
                designe.De la creation de logo à la charte graphique , nous construisons une image de marque forte.
                 </p>
        </div>
        <div>
            <img src="image8.jpg" alt="Image 8" />
            <p>Texte 8</p>
        </div>
        <div>
            <img src="image9.jpg" alt="Image 9" />
            <p>Texte 9</p>
        </div>
        <div>
            <img src="image10.jpg" alt="Image 10" />
            <p class="title"><strong>BRANDING</strong><br><strong>& DESIGN</strong></p>
            <p class="description">Créer une identité visuelle unique et impactante avec nos services de branding et 
                designe.De la creation de logo à la charte graphique , nous construisons une image de marque forte.
                 </p>
        </div>
    </div>
</body>
